*
!arguments
!assets
!colmap-pcd
!docker
!gaussian_renderer
!lpipsPyTorch
!scene
!SIBR_viewers
!submodules
!utils
!.gitignore
!.gitmodules
!requirements_conda.txt
!*.py
!*.md
**__pycache__**
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d